/* 

The * applies to every element in your project. :before and :after are pseudo-classes that refer to literally before 
and after every element. Check out what they do on google, they're sort of cool

*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	background-color: #B1CEDD;
	background-image: url("../VectorGraphics/LaGataAlfreda.svg");
	background-size: 10.3em auto;
	position: relative;
}


/* This is our header */

h1, h2, p, a, input{

	font-family: 'Lora', sans-serif;
}
h1 {
	display: none;	
}
h2 {
	display: none;
}


/* Alfreda */

.alfreda {
	position: absolute;
	height: 100vh;
	width: auto;
	left: 10%;
}



@media only screen 
and (max-width: 920px)  {
	
	#alfreda {
		height: 19em;
	}
}



@media only screen
  and (max-width: 768px){
	
	#alfreda { 
		height:17em;
 	}
}



@media only screen
  and (max-width: 500px){
	
	#alfreda {
		height: 15em; 
	}

}