
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
	padding: 0 1rem;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.form-signin {
	width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.sidebar-archives {
	background-color: #fff;
	min-height:100%;
}

// SVG styling 
#logo {height:400px; width:200px; background: center no-repeat url('/svg/logo.svg'); margin:0 auto;}

#nav-logo {height:100px; width:50px; background: center no-repeat url('/svg/logo.svg');}


#service-bg {
	background: top / contain no-repeat url('/svg/WaterfallHangspace.svg');
	height:100vh;
}
